<html>
    <head>
        <title>Selected data from database</title>
    </head>
    <body>
        <form action="{{ finder.get_url('index') }}" method="get"> 
            <input type="submit" value="Home">
        </form>
        <div style="overflow-x:auto;">
            <table border=".1">
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                    <tr>
                        {% for i in range(columns|count) %}
                            {% if columns[i] == 'nconst' %} 
                                <td><a href="{{ finder.get_url('view_name', nconst=row[i]) }}">{{ row[i] }}</a></td>
                            {% elif columns[i] == 'tconst' %}
                                <td><a href="{{ finder.get_url('view_title', tconst=row[i]) }}">{{ row[i] }}</a></td>
                            {% else %}
                                <td>{{ row[i] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <form action="{{ finder.get_url('table') }}" method="post"> 
            <input type="submit" value="Next">
            <input type="hidden" name="last" value="{{ data[-1][0] }}">
            {% for table in tables %}
                <input type="hidden" name="selected_tables" value="{{ table }}">
            {% endfor %}
            {% for column in columns %}
                <input type="hidden" name="selected_columns" value="{{ column }}">
            {% endfor %}
        </form>
    </body>
</html>
